@media print {

    @page {
        size: auto;
        margin: 0;
    }

    body, body * {
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    .label-container {
        page-break-inside: avoid;
    }

    #printableArea, #printableArea * {
        visibility: visible;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.label-container {
    border: 1px solid #ccc;
    padding: 10px;
    page-break-inside: avoid;
}

.qr-code {
    margin-right: 10px;
    width: 100px;
}

.label-info {
    display: flex;
    flex-direction: column;
}

.info-line {
    margin-bottom: 5px;
    font-size: 12px;
}
