@inherits LayoutComponentBase

<RadzenComponents />
<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />

<div class="rz-p-12 rz-text-align-center">
    @Body
</div>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void BtnMenuItemProfileClick()
    {
        _navigation.NavigateTo("/login");
    }

    void BtnMenuItemSignOutClick()
    {
        //_authService.Logout();
        _navigation.NavigateTo("/login");
    }
}