@implements IDisposable
@if (string.IsNullOrWhiteSpace(_pdfBase64))
{
    <h3 class="w-100 text-center">Please wait...</h3>
}
else
{
    <div class="card" style="width: 100%; height: 100%">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <object>
                <embed id="pdfID" type="text/html" width="1000px" height="1000px" src="data:application/pdf;base64, @_pdfBase64" />
            </object>
        </div>
    </div>
}


@code {
    // string _pdfBase64;

    [Parameter]
    public string _pdfBase64 { get; set; }

    // protected override async void OnInitialized()
    // {
    //    await base.OnInitialized();

    //     // // var response = await _authenServices.GeneratePdf();
    //     // var response = await _authenServices.GetReportBase64(Id);

    //     // if (response!=null)
    //     // {
    //     //     _pdfBase64 = response;
    //     //     StateHasChanged();
    //     // }
    // }

    public void Dispose()
    {
        
    }
}
